<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Query Parameter Display</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <div class="container">
        <h1>Query Parameter Value</h1>
        <p>The value of the query parameter is: @Model.QueryValue</p>
        <p>The full URL I received is: @Model.FullUrl</p>
    </div>
</body>

</html>